body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;

}

.welcome-message {
    text-align: center;
    padding: 20px 0;
    color: blue;
    font-size: 24px;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color:blue;
    text-decoration: none;
}

header h1 a:hover {
    text-shadow: 4px 4px 5px blue;
    transform: scale(1.3);
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.chirp-entry {
    margin-bottom: 2rem;
}

.chirp-entry h2 {
    margin: 0.5rem 0;
}

.chirp-entry h2 a, .chirp-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.chirp-entry p {
    margin: 0;
    font-weight: 400;
}

.chirp-entry h2 a:hover {
    color: red;
    text-shadow: 4px 4px 5px red;
    transform: scale(1.2);
}

.logout-link {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    color: red;
}

.create-chirp-button {
    background-color: blue; 
    color: white;
    padding: 8px;
    border: none; 
    cursor: pointer;
    text-decoration: none; 
    border-radius: 5px;
    font-family: cursive;
    font-size: 18px;
}

.create-chirp-button:hover {
    cursor: pointer;
    box-shadow: 4px 4px 5px gray;
    transform: scale(1.1);
}

.delete-chirp-button {
    background-color: red; 
    color: white;
    padding: 8px;
    border: none; 
    cursor: pointer;
    text-decoration: none; 
    border-radius: 5px;
    font-family: cursive;
    font-size: 18px;
    width: 100px;
    height: 40px;
}

.delete-chirp-button:hover {
    cursor: pointer;
    box-shadow: 4px 4px 5px gray;
    transform: scale(1.1);
}

.button-container {
    display: flex;
}

.update-chirp-button {
    background-color: green; 
    color: white;
    padding: 8px;
    border: none; 
    cursor: pointer;
    text-decoration: none; 
    border-radius: 5px;
    margin-left: 10px;
    font-family: cursive;
    width: 84px;
    height: 24px;
    text-align: center;
}

.update-chirp-button:hover {
    cursor: pointer;
    box-shadow: 4px 4px 5px gray;
    transform: scale(1.1);
}