<!-- templates/home.html -->
{% extends "base.html" %}

{% block content %}
<div class="welcome-message">
    <h1>Welcome to Chirper!</h1>
    <div class="auth-links">
        <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
    </div>
</div>

{% endblock content %}

{% block extracss %}
<style>
    /* Apply background gradient only to the home page */
    .home-body {
        background: linear-gradient(to right, #90cdf4, #3498db, #2c5282);
    }
</style>
{% endblock %}